<div class="tab-pane fade in active">
  <h4 class="head text-center">Select authentication keys or generate new one</h4>
  <br/>
  <div class="row">
    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6">
      <fieldset class="collapsible collapsed mb-5" *ngFor="let key of authenticationKeys">
        <legend (click)="collapse.toggle()">
          {{key.alias}}
          <button class="btn btn-sm btn-danger pull-right" (click)="removeKey(key)">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </legend>
        <div mdbCollapse #collapse="bs-collapse">
          <div class="form-group">
            <label class="control-label" for="type">Key type</label>
            <input type="text" class="form-control input-md" id="type" value="{{key.type}}" disabled />
          </div>
    
          <div class="form-group">
            <label class="control-label" for="controller">Key controller</label>
            <input type="text" class="form-control input-md" id="controller" value="{{key.controller}}" disabled />
          </div>
  
          <div class="form-group">
            <label class="control-label" for="alias">Alias</label>
            <input type="text" class="form-control input-md" id="alias" value="{{key.alias}}" disabled />
          </div>
  
          <div class="form-group">
            <label class="control-label" for="controller">Key (Base58)</label>
            <input type="text" class="form-control input-md" id="controller" value="{{key.publicKey}}" disabled />
          </div>
        </div>
      </fieldset>
      <div class="mb-4">
        <label class="control-label" for="action">Select key or generate new one</label>
        <select class="form-control" id="action" (change)="changeAction($event)">
          <option value="generate">Generate New Key</option>
          <option value="{{key.publicKey}}" *ngFor="let key of availablePublicKeys">{{key.alias}}</option>
        </select>
      </div>
      <fieldset class="collapsible collapsed" *ngIf="selectedKey">
        <legend (click)="collapse.toggle()">{{selectedKey.alias}}</legend>
        <div mdbCollapse #collapse="bs-collapse">
          <div class="form-group">
            <label class="control-label" for="type">Key type</label>
            <input type="text" class="form-control input-md" id="type" value="{{selectedKey.type}}" disabled />
          </div>
    
          <div class="form-group">
            <label class="control-label" for="controller">Key controller</label>
            <input type="text" class="form-control input-md" id="controller" value="{{selectedKey.controller}}" disabled />
          </div>
  
          <div class="form-group">
            <label class="control-label" for="alias">Alias</label>
            <input type="text" class="form-control input-md" id="alias" value="{{selectedKey.alias}}" disabled />
          </div>
  
          <div class="form-group">
            <label class="control-label" for="controller">Key (Base58)</label>
            <input type="text" class="form-control input-md" id="controller" value="{{selectedKey.publicKey}}" disabled />
          </div>

          <div class="form-group text-center">
            <button type="button" mdbBtn color="success" mdbWavesEffect (click)=addSelectedKey()>Add Key</button>
          </div>
        </div>
      </fieldset>
      <fieldset class="collapsible collapsed" *ngIf="selectedAction === 'generate'">
        <legend (click)="collapse.toggle()">Generate Public Key</legend>
        <div mdbCollapse #collapse="bs-collapse">
          <form [formGroup]="keyForm" (ngSubmit)="generateKey()">
            <div class="form-group">
              <label class="control-label" for="type">Choose key type</label>
              <select class="form-control" formControlName="type" id="type">
                <option value="Ed25519">Ed25519</option>
                <option value="Secp256k1">Secp256k1</option>
              </select>
            </div>
  
            <div class="form-group">
              <label class="control-label" for="controller">Choose key controller</label>
              <input 
                type="text" 
                class="form-control input-md" 
                formControlName="controller" 
                id="controller" 
                placeholder="Key controller"
                [ngClass]="{ 'is-invalid': controller.touched && controller.errors }" />
              <div *ngIf="controller.errors" class="invalid-feedback">
                <div *ngIf="controller['errors'].required">Key controller is required!</div>
              </div>
            </div>
  
            <div class="form-group">
              <label class="control-label" for="alias">Alias</label>
              <input
                type="text"
                class="form-control input-md"
                formControlName="alias" id="alias"
                placeholder="Alias"
                pattern="^[a-z0-9-]{1,32}$"
                [ngClass]="{ 'is-invalid': alias.touched && alias.errors }" />
              <div *ngIf="alias.errors" class="invalid-feedback">
                <div *ngIf="alias['errors'].required">Alias is required!</div>
                <div *ngIf="alias['errors'].pattern">Alias must not be more than 32 characters long and must contain only lower-case letters, digits and hyphens!</div>
                <div *ngIf="alias['errors'].taken">You have already used this alias!</div>
              </div>
            </div>
  
            <div class="form-group text-center">
              <input type="submit" mdbBtn color="success" mdbWavesEffect value="Generate key" [disabled]="keyForm.invalid" />
            </div>
          </form>
        </div>
      </fieldset>
      <div class="row justify-content-between mt-4">
        <button class="btn-md-blue" mdbBtn type="button" color="primary" mdbWavesEffect (click)="goToPrevious()"> <span class="glyphicon glyphicon-arrow-left mr-3"></span> Previous</button>
        <button class="btn-md-blue" mdbBtn type="button" color="primary" mdbWavesEffect (click)="goToNext()" [disabled]="authenticationKeys.length === 0"> Next <span class="glyphicon glyphicon-arrow-right ml-3"></span></button>
      </div>
    </div>
  </div>
</div>
