<div class="board-inner" id="status-buttons">
  <ul class="nav nav-tabs" id="myTab">
    <div class="liner"></div>

    <li routerLink="/action" routerLinkActive="active">
      <a class="inactiveLink" [ngClass]="{ 'active': lastCompletedStepIndex > 0 }" data-toggle="tab">
        <span class="round-tabs mdblue">
          <span class="circle">1</span>
        </span>
      </a>
    </li>
                  
    <li routerLink="{{secondTabLink}}" routerLinkActive="active">
      <a class="inactiveLink" [ngClass]="{ 'active': lastCompletedStepIndex > 1 }" data-toggle="tab">
        <span class="round-tabs mdblue">
          <span class="circle">2</span>
        </span>
      </a>
    </li>

    <li routerLink="{{thirdTabLink}}" routerLinkActive="active">
      <a class="inactiveLink" [ngClass]="{ 'active': lastCompletedStepIndex > 2 }" data-toggle="tab">
        <span class="round-tabs mdblue">
          <span class="circle">3</span>
        </span> 
      </a>
    </li>

    <li routerLink="{{forthTabLink}}" routerLinkActive="active">
      <a class="inactiveLink" [ngClass]="{ 'active': lastCompletedStepIndex > 3 }" data-toggle="tab">
        <span class="round-tabs mdblue">
          <span class="circle">4</span>
        </span>
      </a>
    </li>

    <li routerLink="{{fifthTabLink}}" routerLinkActive="active">
      <a class="inactiveLink" [ngClass]="{ 'active': lastCompletedStepIndex > 4 }" data-toggle="tab">
        <span class="round-tabs mdblue">
          <span class="circle">5</span>
        </span>
      </a>
    </li>

    <li routerLink="{{sixthTabLink}}" routerLinkActive="active">
      <a class="inactiveLink" [ngClass]="{ 'active': lastCompletedStepIndex > 5 }" data-toggle="tab">
        <span class="round-tabs mdblue">
          <span class="circle">6</span>
        </span>
      </a>
    </li>
    
    <li>
      <a routerLinkActive="active" data-toggle="tab">
        <span class="round-tabs mdblue">
          <span class="circle">7</span>
        </span>
      </a>
    </li>
  </ul>
  <div class="clearfix"></div>
</div>

<script src="assets/js/loading-bars.js"></script>
