<div class="board-inner" id="status-buttons">
  <ul class="nav nav-tabs" id="myTab">
    <div class="liner"></div>

    <li>
      <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab">
        <span class="round-tabs one">
          <span class="circle">1</span>
        </span>
      </a>
    </li>
                  
    <li>
      <a routerLinkActive="active" data-toggle="tab">
        <span class="round-tabs two">
          <span class="circle">2</span>
        </span>
      </a>
    </li>

    <li>
      <a routerLinkActive="active" data-toggle="tab">
        <span class="round-tabs three">
          <span class="circle">3</span>
        </span> 
      </a>
    </li>

    <li>
      <a routerLinkActive="active" data-toggle="tab">
        <span class="round-tabs four">
          <span class="circle">4</span>
        </span>
      </a>
    </li>

    <li>
      <a routerLinkActive="active" data-toggle="tab">
        <span class="round-tabs one">
          <span class="circle">5</span>
        </span>
      </a>
    </li>

    <li>
      <a routerLinkActive="active" data-toggle="tab">
        <span class="round-tabs two">
          <span class="circle">6</span>
        </span>
      </a>
    </li>

    <li>
      <a routerLinkActive="active" data-toggle="tab">
        <span class="round-tabs five">
          <span class="circle">7</span>
        </span>
      </a>
    </li>
                
  </ul>
  <div class="clearfix"></div>
</div>

<script src="assets/js/loading-bars.js"></script>
