<div class="board-inner" id="status-buttons">
  <ul class="nav nav-tabs" id="advancedTabs" *ngIf="selectedAction === actionType.CreateAdvanced">
    <div class="liner"></div>
                  
    <li class="inactiveLink" routerLink="{{firstTabLink}}" routerLinkActive="active">
      <a [ngClass]="{ 'active': lastCompletedStepIndex >= 0 }" data-toggle="tab">
        <span class="round-tabs mdblue">
          <span class="circle">1</span>
        </span>
      </a>
    </li>

    <li class="inactiveLink" routerLink="{{secondTabLink}}" routerLinkActive="active">
      <a [ngClass]="{ 'active': lastCompletedStepIndex >= 1 }" data-toggle="tab">
        <span class="round-tabs mdblue">
          <span class="circle">2</span>
        </span> 
      </a>
    </li>

    <li class="inactiveLink" routerLink="{{thirdTabLink}}" routerLinkActive="active">
      <a [ngClass]="{ 'active': lastCompletedStepIndex >= 2 }" data-toggle="tab">
        <span class="round-tabs mdblue">
          <span class="circle">3</span>
        </span>
      </a>
    </li>

    <li class="inactiveLink" routerLink="{{forthTabLink}}" routerLinkActive="active">
      <a [ngClass]="{ 'active': lastCompletedStepIndex >= 3 }" data-toggle="tab">
        <span class="round-tabs mdblue">
          <span class="circle">4</span>
        </span>
      </a>
    </li>

    <li class="inactiveLink" routerLink="{{fifthTabLink}}" routerLinkActive="active">
      <a [ngClass]="{ 'active': lastCompletedStepIndex >= 4 }" data-toggle="tab">
        <span class="round-tabs mdblue">
          <span class="circle">5</span>
        </span>
      </a>
    </li>
    
    <li class="inactiveLink" routerLink="/final" routerLinkActive="active">
      <a [ngClass]="{ 'active': lastCompletedStepIndex >= 5 }" data-toggle="tab">
        <span class="round-tabs mdblue">
          <span class="circle">6</span>
        </span>
      </a>
    </li>
  </ul>

  <ul class="nav nav-tabs basic-mode-tabs" id="basicTabs" *ngIf="selectedAction === actionType.CreateBasic">
    <div class="liner basic-mode-liner"></div>
                  
    <li class="inactiveLink" routerLink="{{firstTabLink}}" routerLinkActive="active">
      <a [ngClass]="{ 'active': lastCompletedStepIndex >= 0 }" data-toggle="tab">
        <span class="round-tabs mdblue">
          <span class="circle">1</span>
        </span>
      </a>
    </li>
  
    <li class="inactiveLink" routerLink="{{secondTabLink}}" routerLinkActive="active">
      <a [ngClass]="{ 'active': lastCompletedStepIndex >= 1 }" data-toggle="tab">
        <span class="round-tabs mdblue">
          <span class="circle">2</span>
        </span> 
      </a>
    </li>
    
    <li class="inactiveLink" routerLink="/final" routerLinkActive="active">
      <a [ngClass]="{ 'active': lastCompletedStepIndex >= 2 }" data-toggle="tab">
        <span class="round-tabs mdblue">
          <span class="circle">3</span>
        </span>
      </a>
    </li>
  </ul>
  <div class="clearfix"></div>
</div>

<script src="assets/js/loading-bars.js"></script>
